@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
}

.glass-morphism-effect {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 10px;
  }
